{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block link %}<link rel="stylesheet" href="/static/css/pygments.css">{% endblock %}
{% block content %}
{% if post %}
<div class="post-meta" style="margin-bottom:20px;">
    <h2 style="margin-top:0; font-size:24px;">{{post.title}}</h2>
    <div>
        {% for tag in post.tags %}<a href="/?tag={{tag.idstr}}"><span class="label label-info">{{tag.name}}</span></a> {% endfor %}
        by <a href="/?author={{post.author.idstr}}">{{post.author.name}}</a> at {{post.published|date_format}}
        <script type="text/javascript">
        (function(){
        var p = {
        url:location.href,
        showcount:'0',/*是否显示分享总数,显示：'1'，不显示：'0' */
        desc:'',/*默认分享理由(可选)*/
        summary:'',/*分享摘要(可选)*/
        title:'{{post.title}}',/*分享标题(可选)*/
        site:'',/*分享来源 如：腾讯网(可选)*/
        pics:'', /*分享图片的路径(可选)*/
        style:'203',
        width:22,
        height:15.5
        };
        var s = [];
        for(var i in p){
        s.push(i + '=' + encodeURIComponent(p[i]||''));
        }
        document.write(['<a version="1.0" class="qzOpenerDiv" style="float:right;" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?',s.join('&'),'" target="_blank">分享</a>'].join(''));
        })();
        </script>
        <script src="http://qzonestyle.gtimg.cn/qzone/app/qzlike/qzopensl.js#jsdate=20111201" charset="utf-8"></script>
    </div>
</div>
<div class="post-content fmt">
    {{post.html|safe}}
</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'wangdai';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
{% endblock %}