<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jerry - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% block link %}{% endblock %}
    <style>
        h2.subtitle {margin-bottom: 20px;}
    </style>
</head>
<body style="background:#f2f2f2; font-family:'Microsoft YaHei'">
<div class="container">
    <div class="row" style="margin:10px 0; position: relative;"><h1>Jerry</h1>
        <ul class="nav nav-pills" style="position: absolute; right: 0; bottom: 0;">
            <li role="presentation"><a href="/manage">管理文章</a></li>
            <li role="presentation"><a href="/manage?deleted=1">回收站</a></li>
            <li role="presentation"><a href="/edit">撰写文章</a></li>
            <li role="presentation"><a href="#">静态页面</a></li>
            <li role="presentation"><a href="/settings">设置</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body" style="padding-top:0;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="row">
        <p style="text-align:center;">powered by jerry</p>
    </div>
</div>
</body>
</html>